button {
    border: none;
    
    border-radius: 5px;
    padding: 6px;
    font-weight: 600;
    margin-bottom: 10px;
    text-decoration: none;
}
    button a{
        text-decoration: none;
        color: #f8f9fa;
    }
    button  a:hover {
        text-decoration: none;
        color: #f8f9fa;
    }


button:hover {
    background-color: #009afff2;
}

td>a {
    background-color: #007bff;
    color: white;
    width: 20px;
    height: 20px;
    padding: 5px;
}

